* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;

  display: flex;
}

footer {
  margin-top: auto;
  flex: 1;
  height: 8rem;
  background-color: blueviolet;
  font-size: 1.2rem;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}