* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #27262e;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: blueviolet;
  border: 0;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  font-size: 1rem;
  line-height: 0;
  cursor: pointer;
  opacity: 0.8;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

button:hover {
  opacity: 1;
}